<%- include('header'); -%>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/style.css'>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script> -->

    <body>
        <form method="POST">
            <div class="container-fluid">
                <h1 id="myHeader">
                    <%= headertext %>
                </h1>
                <hr>
                <table>
                    <tr>
                        <td><label for="txtsessn">Session:</label></td>
                        <td>
                            <input id="txtsessn" type="text" value="<%= session_master.sesn %>" name="txtsessn"
                                class="form-control" readonly>
                        </td>
                        <!-- <td>  
                <select id="txtsessn" name="txtsessn" required class="form-control">
                    <option value=""> Please select</option>
                    <% for (var i=0; i<session_master.length; i++){ %>
                        <option value= '<%= session_master[i].sesn %>'                  
                            data-start='<%= moment(session_master[i].start_date).format( 'DD-MMM-YYYY') %>' data-end='<%= moment(session_master[i].end_date).format( 'DD-MMM-YYYY') %>'> 
                            
                            <%= session_master[i].sesn %>
                        </option>
                    <% } %>
                </select>
            </td> -->
                        <td colspan="3" style="text-align:right;">
                            <label id="txtduration" style="color:green; font-size:large; font-weight:bold;">
                                <%= moment(session_master.start_date).format( 'DD-MMM-YYYY' ) %> &nbsp; to &nbsp;
                                    <%= moment(session_master.end_date).format( 'DD-MMM-YYYY' ) %>
                            </Label>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="txtname">Name:</label></td>
                        <td colspan="3">
                            <input id="txtname" style="text-transform:capitalize;" type="text" placeholder="Enter name"
                                name="name" class="form-control" required>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="txtfname">Father's Name:</label></td>
                        <td colspan="3">
                            <input id="txtfname" type="text" style="text-transform:capitalize;"
                                placeholder="Enter Father's name" name="fname" class="form-control" required>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="txtmname">Mother's Name:</label></td>
                        <td colspan="3">
                            <input id="txtmname" type="text" style="text-transform:capitalize;"
                                placeholder="Enter Mother's name" name="mname" class="form-control" required>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="txtmob">Mobile:</label></td>
                        <td>
                            <input id="txtmob" type="text" placeholder="Enter mobile number" name="mob"
                                class="form-control" required>
                        </td>
                        <td><label for="txtroll">Roll:</label></td>
                        <td>
                            <input id="txtroll" type="text" placeholder="Enter roll" name="roll" class="form-control"
                                required>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="txtclass">Class:</label></td>
                        <td>
                            <select id="cl" name="class_mst" class="form-control">
                                <option value="0"> Please select</option>
                                <% for (var i=0; i<class_masters.length; i++){ %>
                                    <option value='<%= class_masters[i].class %>'>
                                        <%= class_masters[i].class %>
                                    </option>
                                    <% } %>
                            </select>
                        </td>
                        <!-- </tr>
        <tr> -->
                        <td><label for="txtsec">Section:</label></td>
                        <td>
                            <input id="txtsec" type="text" style="text-transform:capitalize;"
                                placeholder="Enter section" name="section" class="form-control" required>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="datepicker">DOB:</label></td>
                        <td>
                            <!-- <input id="txtage" type="number" placeholder="Enter age" name="age" class="form-control" required> -->
                            <input id="datepicker" name="dob" type="date" class="form-control" required>
                        </td>
                        <td><label for="tt1">Transport:</label></td>
                        <td>
                            <input id="tt1" type="radio" name="transport" value="true"> Yes &nbsp;&nbsp;
                            <input id="tt2" type="radio" name="transport" value="false" checked> No
                        </td>

                    </tr>
                    <tr>
                        <td><label for="txtadd1">Address:</label></td>
                        <td colspan="2">
                            <input id="txtadd1" type="text" style="text-transform:capitalize;"
                                placeholder="Address Line1" name="line1" class="form-control" required>
                        </td>
                        <!-- </tr>
        <tr> -->
                        <!-- <td><label for="txtadd2">Address2:</label></td> -->
                        <td>
                            <input id="txtadd2" type="text" style="text-transform:capitalize;"
                                placeholder="Address Line2" name="line2" class="form-control">
                        </td>
                    </tr>
                    <tr>
                        <td><label for="txtadd3">District:</label></td>
                        <td>
                            <input id="txtadd3" type="text" style="text-transform:capitalize;" placeholder="District"
                                name="district" class="form-control" required>
                        </td>
                        <!-- </tr>
        <tr> -->
                        <td><label for="txtadd4">Pincode</label></td>
                        <td>
                            <input id="txtadd4" type="text" placeholder="Pincode" name="pin" class="form-control"
                                required>
                        </td>
                    </tr>
                    <tr>
                        <td>Sex:</td>
                        <td>
                            <input type="radio" name="usex" value="Male"> Male &nbsp;&nbsp;
                            <input type="radio" name="usex" value="Female"> Female
                        </td>
                        <td><label for="txtcons">Concession:</label></td>
                        <td>
                            <input id="txtcons" type="number" step="0.5" placeholder="Enter concession (%)" value="0.0"
                                name="concession" class="form-control" required>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="submit" class="btn btn-success" value="Add">
                            <!-- <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button> -->
                        </td>
                        <td colspan="3">
                            <input type="button" class="btn btn-primary" value="Display"
                                onclick="window.location='display'">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <h3>
                                <%= updtmsg %>
                            </h3>
                        </td>
                    </tr>
                </table>
            </div>
        </form>
        <!-- <button type="button" class="btn btn-info">
    <span class="glyphicon glyphicon-search"></span> Search
  </button> -->
        <%- include('footer'); -%>
    </body>

    <script>
        // function getSelectValue()
        // {
        //     var selectedValue = document.getElementById("txtsessn").value;
        //     document.getElementById("txtduration").value=selectedValue;

        // }
        // getSelectValue();
        $(document).ready(function () {

            $("#txtsessn").change(function () {
                var cntrol = $(this);

                var st = cntrol.find(':selected').data('start');
                var end = cntrol.find(':selected').data("end");
                //var value = ', Value : ' + cntrol.val();     
                var finalvalue = st + " to " + end;

                if (cntrol.val() == "")
                    finalvalue = "---";
                $('#txtduration').text(finalvalue);

            });

        });
    </script>